# Dependencies
**/node_modules/

# Environment
.env
.env.local

# Build outputs
dist/
build/
test-results/

# System
.DS_Store
**/.DS_Store
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binaries
k6

# HarperDB Runtime Files
**/*.pid
**/harper-application-lock.json
**/keys/
**/backup/
**/database/
**/hdb/
